<div class="container mx-auto" *ngIf="this.profile">
  <div class="bg-red-800">
    <div class="p-5">
      <div class="mt-6">
        <div class="grid justify-items-center">
          <img [src]="this.profile.avatar" class="rounded-full border-4 border-white h-4/12 w-4/12" alt="รูปภาพโปรไฟล์" />
          <div class="mt-4">
            <p class="text-xl">{{this.profile.name}}</p>
            <p class="text-sm">{{this.profile.job}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-neutral-300 rounded-md">
    <div class="grid gap-2 grid-cols-2">
      <div class="grid justify-items-center  mt-4  mb-4 border-r-red-800 border-r-4">
        <p class="text-red-900">{{this.profile.followers | thousandSuffixes}}</p>
        <p>Followers</p>
      </div>
      <div class="grid justify-items-center  mt-4 mb-4">
        <p class="text-red-900">{{this.profile.following | thousandSuffixes}}</p>
        <p>Following</p>
      </div>
    </div>
  </div>
  <div class="flex justify-end ...">
    <button class="bg-lime-100 rounded-md border-solid border-2 border-rose-500 p-2 mt-2 text-black not-italic text-sm fa-thin fa-plus" (click)="createtask()">
      เพิ่ม Task
    </button> 
  </div> 
  <div class="p-4">
    <div class="bg-red-700 mt-4 p-3" *ngFor="let item of tasks" (click)="detailLocal(item.id)">
      <div class="flex justify-between ...">
      <p class="text-white">{{item.topic}}</p>
        <button class="bg-amber-600 rounded-md border-solid border-2 border-rose-500 px-3 text-black not-italic text-sm fa-sharp fa-solid fa-pen-to-square" (click)="edittask(item.id)">
          แก้ไข
        </button>
      </div>
      <div class="flex justify-between mt-3">
        <p class="text-white">Date : {{item.date | dateFormat}}</p>
        <button class="bg-amber-600 rounded-md border-solid border-2 border-rose-500 px-6 text-black not-italic text-sm fa-solid fa-trash" (click)="deleteTask(item.id)">ลบ</button>
      </div>
    </div>
  </div>
  <div class="bg-slate-300 absolute bottom-0 w-full">
    <div class="grid grid-cols-1">
      <div class="grid  ">
        <p class="p-2">10 Tasks remain</p>
      </div>
    </div>
  </div>
</div>


  <!-- <div class="p-4" *ngIf="local">
    <div class="bg-red-700 mt-4 p-3">
      <div class="flex justify-between ...">
        <p class="text-white">{{ local.topic }}</p>
        <button class="bg-amber-600 rounded-md border-solid border-2 border-rose-500 px-3 text-black not-italic text-sm fa-sharp fa-solid fa-pen-to-square" (click)="edittask()">
          แก้ไข
        </button>
      </div>
      <div class="flex justify-between mt-3">
        <p class="text-white">{{ local.description }}</p>
        <button class="bg-amber-600 rounded-md border-solid border-2 border-rose-500 px-6 text-black not-italic text-sm fa-solid fa-trash" (click)="deleteTask()">ลบ</button>
      </div>
    </div>
  </div> -->